<!DOCTYPE html>
<html>
<head>
    <title></title>
</head>
<body>

<h1><strong>First Gen Pokemon Chart</strong></h1>
<table border="1">
    <thead>
        <tr>
            <th>Image</th>
            <th>Name</th>
            <th>Type</th>
            <th>Evolves Into</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td><img width="50" src="http://img.pokemondb.net/artwork/bulbasaur.jpg"/></td>
            <td>Bulbasaur</td>
            <td>Grass/Poison</td>
            <td><a href="http://pokemondb.net/pokedex/Ivysaur">Ivysaur</td>
        </tr>
        <tr>
            <td><img width="50" src="http://img.pokemondb.net/artwork/charmander.jpg"/></td>
            <td>Charmander</td>
            <td>Fire</td>
            <td><a href="http://pokemondb.net/pokedex/charmeleon">Charmeleon</a></td>
        </tr>
        <tr>
            <td><img width="50" src="http://img.pokemondb.net/artwork/squirtle.jpg"/></td>
            <td>Squirtle</td>
            <td>Water</td>
            <td><a href="http://pokemondb.net/pokedex/wartortle">Wartortle</a></td>
        </tr>
    </tbody>
</table>


</body>
</html>

